{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Setup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
    <div class="container">
        <h1>🦕 Welcome to Genosaur Project!</h1>
        <p class="success">✅ Your Django application is successfully deployed on Heroku!</p>
        <p>This is your homepage. You can now start building your application.</p>
        <hr>
        <p><a href="/admin/">Admin Panel</a></p>
    </div>
    </div>
</body>
</html>
